* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 16px;
  min-width: 320px;
}

h1 {
    font-size: 4em;
    font-family: 'Inter', sans-serif;
}

h3 {
    font-size: 2em;
    font-weight: normal;
}

h4 {
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

a {
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

header ul {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    list-style-type: none;
    height: 100px;
    align-items: center;
}

header ul li a:hover {
  color: rgb(118, 141, 110);
  cursor: pointer; 
}

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/gis.jpeg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

 .title {
  display: flex;
  flex-direction: column;
  flex: 4;
  padding: 30px;
}

.job {
    color: rgb(118, 141, 110);
}

.location {
  display: flex;
  justify-content: space-between;      
  padding-left: 30px;      
  padding-right: 100px;
  flex: 1;
}

.location h4:last-child::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/arrow-down.svg");
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6px;
  vertical-align: top;
}

.about {
    display: flex;
    padding: 30px 0;
    margin: 0 30px;
}

.description {
    display: flex;
    align-items: center;
    flex: 2;
    padding-right: 30px;
    height: 250px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-left: 30px;
}

.icons ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    padding-top: 50px;
    height: 380px;
}

.label {
  grid-column: 1;
}

.skills {
  grid-column: 2 / span 2;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 30px
}

.skill h3 {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

.skill h3:hover {
    color: rgb(118, 141, 110);
    cursor: default;
}

.skill h5 {
    font-size: 1em;
    font-weight: normal;
    padding-bottom: 10px;
}

.funny {
    width: 100%;
    background-image: url("../images/planet.jpeg");
    height: 150px;
    background-repeat: repeat-x;
    background-size: 250px auto;
    background-position: center 50%;
    margin-bottom: 30px;
}

@media only screen and (max-width: 930px) {
    h3 {
        font-size: 1.5em;
    }

    .skill h3 {
        font-size: 1.2em;
    }

    .skill h5 {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 580px) {
    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.2em;
    }

    .scroll {
        display: none;
    }

    .funny {
        background-size: 150px auto;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 450px) {

    .contacts .text {
        display: none;
    }

    .about {
        flex-direction: column;
    }

    .description {
        padding-bottom: 30px;
    }

    .contacts {
        padding-left: 0px;
    }

    .what {
        display: flex;
    }

    .what .label {
        display: none;
    }

    .funny {
        background-size: 100px auto;
    }
}